// card
.mat-mdc-card {
  margin-bottom: 30px;
  border-radius: 16px;
  border: 1px solid $borderColor;
  transition: all 0.3s ease;
  
  &:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.06);
  }
}
.mat-mdc-card-header {
  padding: 30px 30px 0;
}

.mat-mdc-card-content {
  padding: 0 30px;
}

.mat-mdc-card {
  background-color: $cardbg;
}

.cardWithShadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07), 0 1px 3px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
  
  &:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
  }
}

.mat-mdc-card-title {
  line-height: 1.6rem;
  font-size: 20px;
  font-weight: 500;
}

.mdc-card__actions {
  padding: 30px;
}

.theme-card.mat-mdc-card {
  .mat-mdc-card-header {
    padding: 16px 30px;
  }
  .mat-mdc-card-content {
    padding: 30px;
  }
}

.card-hover {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover {
    scale: 1.01;
    transition: all 0.1s ease-in 0s;
  }
}

// chip
html .mat-mdc-chip {
  height: 24px;
  font-size: 14px;
  background-color: $light;
}

.cardBorder {
  .mdc-card {
    box-shadow: none !important;
    border: 1px solid $borderColor !important;
    &.shadow-none {
      border: 0 !important;
    }
  }
}

.mat-mdc-menu-panel{
  border-radius: 20px;
}