.role-con{
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px ;
    justify-content: space-between;
     
}

.role-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5px 5px;
}
.agencies-grid{
        display: grid;
    grid-template-columns:   1fr ;
    gap: 5px 5px;
}