@use "@angular/material" as mat;
@include mat.core();

@import "themecolors/default_theme";
@import "variables";
@import "helpers/color";
@import "helpers/icon-size";

//Theme colors

@import "themecolors/default_theme";
@include mat.all-component-themes($orangetheme);


//container layout
@import "overrides/materialoverrides";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";
.card{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}


// pages
@import "pages/auth";
@import "pages/dashboards";

/* You can add global styles to this file, and also import other style files */



/* 1️⃣ Register the regular font */
@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('../fonts/notoNaskhArabic.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* 2️⃣ Register the bold font */
@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('../fonts/notoNaskhArabicBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* 3️⃣ Apply globally */
html, body {
  font-family: 'Noto Naskh Arabic', sans-serif !important;
          // font-family: 'Cairo', 'Amiri', 'Tajawal', sans-serif;

  direction: rtl; /* optional — use only if your app is in Arabic */
  font-weight: 400;
  // font-size: 16px;
}




.whitesmoke {
    background-color: white !important;
}

.whiteBG{
    background-color: white !important;
}
.accent{
     color: #0096FF  ;
}


 