<html dir="rtl" lang="ar">
  <div class="card hfull">
    <div class="form">
      <div class="form-item">
        <label>النوعية / Designation</label>
        <input
          class="input"
          name="Designation"
          [(ngModel)]="item.Designation"
        />
      </div>
      <div class="form-item">
        <label>Quantity / الكمية</label>
        <input
          class="input"
          type="number"
          name="Quantity"
          [(ngModel)]="item.Quantity"
        />
      </div>
      <div class="form-item">
        <label>العدد في الحزمة / العلبة</label>
        <input
          class="input"
          type="number"
          name="package"
          [(ngModel)]="item.package"
        />
      </div>
      <div class="form-item">
        <label>س.الفرد / prix unitaire </label>
        <input
          class="input"
          type="number"
          name="prixUnitaire"
          [(ngModel)]="item.prixUnitaire"
        />
      </div>
      <!-- <div class="form-item">
        <label>prix_total</label>
        <input
          class="input"
          type="number"
          name="prixTotal"
          [(ngModel)]="item.prixTotal"
        />
      </div> -->
      <div class="form-item">
        <label style="visibility: hidden">prix_total</label>
        <button
          class="btn btn-primary"
          style="width: 200px"
          (click)="addItem()"
        >
          save
        </button>
      </div>
    </div>

    <div class="form mb-5">
      <div class="form-item">
        <label> الكراج</label>
        <input class="input" name="Designation" [(ngModel)]="facture.garage" />
      </div>
      <div class="form-item">
        <label> المبلغ المدفوع </label>
        <input
          class="input"
          type="number"
          name="Quantity"
          [(ngModel)]="facture.payed_price"
        />
      </div>
      <div class="form-item">
        <label>الناقل </label>
        <input class="input" name="package" [(ngModel)]="facture.transporter" />
      </div>

      <div class="form-item">
        <label>رقم الهاتف</label>
        <input class="input" name="prixTotal" [(ngModel)]="facture.tel" />
      </div>
      <div class="form-item">
        <label>الزبون</label>
        <input class="input" name="prixTotal" [(ngModel)]="facture.name" />
      </div>

      <div class="form-item">
        <label>ملاحظة</label>
        <textarea class="text" name="note" [(ngModel)]="facture.note">
        </textarea>
      </div>
    </div>

    <loading *ngIf="isLoading"></loading>

    <app-factcteur-card
      [factureData]="facture"
      [showNote]="true"
      [Editing]="true"
    ></app-factcteur-card>

<div>
  <div class="form-item mb-5">
    <div>
      <!-- Upload -->
      <label
        for="upload"
        class="btn bg-blue-500 m-2 border border-blue border-2 cursor-pointer"
      >
        <i class="fa-solid fa-upload"></i>
        رفع صورة الفاتورة
      </label>

   

      <!-- Download -->
      <button
        class="btn bg-blue-500 m-2 border border-blue border-2"
        (click)="downloadImage(facture.image_url)"
        [disabled]="!facture.image_url"
      >
        <i class="fa-solid fa-download"></i>
        تحميل صورة الفاتورة
      </button>

      <input
        type="file"
        id="upload"
        hidden
        (change)="onFileSelected($event)"
      />
    </div>

    <!-- Preview -->
    <div *ngIf=" facture.image_url" class="mt-4">
      <img
        [src]="facture.image_url"
        alt="معاينة الصورة"
        style="max-width: 600px; max-height: 600px"
      />
    </div>
  </div>
</div>

    <div style="margin: 20px">
      <button
        class="btn btn-primary"
        style="width: 200px; margin-bottom: 20px"
        (click)="saveChanges()"
      >
        save
      </button>
    </div>
  </div>
</html>
