* {
  padding: 0px;
  margin: 0px;
}

h2 {
  color: #5a86aa;
}

label {
  color: #375d72;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input {
  border-radius: 10px;
  border: 1px solid #5a86aa;
  width: 100%;
  padding: 9px;
}
button {
  margin-top: 10px;
}
body {
  width: 300px;
  height: 400px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .container {
    background-color: red;
    width: 90vw;
    height: 100vh;
  }
}
