.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 16px;
}

.example-full-width {
  width: 100%;
}

strong {
  color: #5a86aa;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
