



.role-grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1px;
}
.role{
    background-color: rgb(189, 186, 186);
    border-radius: 5px;
    text-wrap: nowrap;
    padding: 3px 2px;
    font-size: 9px;
    margin:0px 2px;
}

td ,th {
border: 1px solid rgb(59, 59, 59) ;
padding: 2px 5px;
}
table{
    margin-top:20px ;
}

 
 


.search{
    border-radius: 7px;
    background-color: white;
    border: 1px solid #03c9d7;
    width: 200px;
    padding: 1px 10px ;
}
.cardWithShadow{
    padding: 0px;

}
.form {
  width:fit-content;
  // min-width: 1000px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  border: 1px solid #292828;
  border-radius: 5px;
  background-color: rgb(248, 247, 247);
}
.date {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

  
 
.form-item {
  display: flex;
  width: 200px;
  flex-direction: column;
  // background-color: rgb(248, 247, 247);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}
.mat-card-content{
    padding-left: 15px;
    padding-right: 15px;
}
.search-btn{
    border: 1px solid #0096FF;
    text-wrap: nowrap;
    background-color: #03c9d7;
    // color: g;
    border-radius: 7px;

}

.nowrap{
    text-wrap: nowrap;
    width: 80px;
}
