<mat-form-field class="example-full-width">
  <mat-label>
    
  </mat-label>
  <input
    #input
    type="text"
    
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
    (input)="filter()"
    (focus)="filter()"
  />

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelect($event.option.value)"
  >
    <mat-option *ngFor="let option of filteredOptions" [value]="option.name">
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
